@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --primary-color: #e50914;
}

* {
  box-sizing: border-box; /* so the padding does not affect the width */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ariel", sans-serif;
  --webkit-font-smoothing: antialiased; /* for better font rendering */
  background-color: #000;
  color: #dce2e2;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0.5rem 0; /* 1rem === 16px which is the default  */
}

img {
  width: 100%;
}

.hide{
  visibility: hidden;
}

.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/93da5c27-be66-427c-8b72-5cb39d275279/292e6261-2eed-454a-996a-a1dd8edad6ce/LB-en-20240226-popsignuptwoweeks-perspective_alpha_website_small.jpg")
    no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 50px 100px #000000, inset 0px -50px 100px #000000;
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 88px;
}

.link {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translate(-50%, -50%);
}

.showcase-top img {
  width: 150px;
  position: absolute; /* so we can position it inside its closest part element which is showcase top and not showcase */
  top: 50%;
  left: 16.3%;
  transform: translate(-50%, -50%);
  /* margin-left: 0; */
}

/* language selector */
.select-with-fa {
  position: relative;
  display: inline-block;
  flex-direction: row;
}

.select-with-fa select {
  border: 0.5px solid #ffffff9c;
  padding: 0.28rem 1rem;
  margin-right: 1rem;
  background-color: transparent;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  color: #fff;
  font-size: 1rem;
  border-radius: 3px;
}

.select-with-fa option {
  color: initial;
  background: initial;
}

/* content showcase */
.showcase-content {
  position: relative;
  z-index: 2;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 12rem;
}

.showcase-content h1{
  font-size: 2.7rem;
  margin-bottom: 1rem;
  font-weight: 900;
  /* white-space: nowrap; */
}

.showcase-content h4{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: lighter;
}

.showcase-content p{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: lighter;

}


/* email input field */
.add-email {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.email {
  font-size: 1rem;
  padding: 1.2rem 1rem;
  margin-right: 8px;
  width: 25rem;
  background-color: #0000007a;
  border: 1px solid #ffffff8e;
  border-radius: 3px;
  color: #ffffff;
  outline: none;
}

.email:focus{
  border: 1px solid #ffffff;
  outline: none;
  font-size: 1rem;;
}

.email.invalid{
  border: 1px solid var(--primary-color);

}

.email:focus + .placeholder {
  top: 0.3rem;
  left: 1rem;
  font-size: 0.7rem;
}

.placeholder.has-content{
  top: 0.3rem;
  left: 1rem;
  font-size: 0.7rem;
}

.placeholder {
  color: #ffffff8e;
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  font-size: 1rem;
  transition: 0.3s;
  pointer-events: none;
}

#email-2:focus + .placeholder2{
  top: 0.3rem;
  left: 31rem;
  font-size: 0.7rem;
}

.placeholder2{
  color: #ffffff8e;
  position: absolute;
  top: 1.2rem;
  left: 31rem;
  font-size: 1rem;
  transition: 0.3s;
  pointer-events: none;
}

.warning{
  position: absolute;
  top: 3.5rem;
  font-size: 0.8rem !important;
  color: var(--primary-color);
}

/* tabs */
.tabs{
  padding-top:1rem;
  border-top: 8px solid #4b494975;
  height: 36rem;
}

.tabs .container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	align-items: center ;
	justify-content: center ;
  height: 100%;
  padding: 0 1rem;
}

@media (max-width: 700px) {
  .tabs .container{
    grid-template-columns: 1fr;
    text-align: center;
  }

  .tabs .container .container-1, .tabs .container .container-5 {
    margin: auto !important;
  }
}

.tabs .container .container-1, .tabs .container .container-5 {
  position: relative;
  display:flex;
  flex-direction: column;
  margin-left: 9rem;
}

.tabs .container .container-2{
  position: relative;

  display:flex;
}

 .container-2 .layer{
  position:relative;
}

.container-2 .layer img{
  border: 0;
  width: 100%;
  height: 100%;
}

.play-video{
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 49%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.play-video img, .play-video video{
  display: inline-block;
  vertical-align: baseline;
}

.tabs .container .container-3{
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-display{
  position: relative;
}

.loading{
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 8%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0 auto;
  background: rgb(0,0,0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
  min-width: 15rem;
  padding: 0.25rem 0.65rem;
  border: 2px solid rgba(128,128,128,0.7);
  box-shadow: 0 0 2em 0 rgb(0,0,0);
  border-radius: 0.75rem;
  z-index: 1;
}

.loading .img img{
  height: 4.5rem;
}

/* FAQ */

.faq{
  padding: 2rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* for footer width should be 70% only and yeah we use uls + before ul and after ul we add questions thingy then language changers and netlfix lebanon, then we grid the ul which is inside a div  */
.footer{
  max-width: 75%;
	margin: 2rem auto;
	overflow: auto;
}

.footer,
.footer a {
	color: #999;
	font-size: 0.9rem;
}

.footer a {
  text-decoration: underline;
}

.footer,
.footer a:hover{
  color: #fff;
}

.footer p {
	margin-bottom: 3rem;
  color: #999;
}

.footer .footer-cols{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.footer li {
	line-height: 2rem;
}



/* text */
.text-xl{
  font-size: 3rem;
  font-weight: 900;
}


.text-lg{
  font-size: 1.5rem;
  font-weight: 500;
}

.text{
  padding-left: 1rem;
}

.stranger{
  font-weight: 400;
  font-size: 0.875rem;
}

.download{
  font-weight: 400;
  color: #0071eb;
  font-size: 0.875rem;
}

/* buttons */
.btn {
  display: inline-block;
  padding: 0.4rem 1.3rem;
  background: var(--primary-color);
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  transition: background 0.3s ease;
}

.btn:hover {
  background: #b40b13;
}

.btn-xl {
  font-size: 1.1rem;
  padding: 1.2rem 2rem;
  white-space: nowrap;
}


@media (max-width: 960px) {

.showcase-content h1 {
  font-size: 2rem;
  line-height: 1;
}

.showcase-content p {
  font-size: 1.5rem;
}

.footer .footer-cols {
  grid-template-columns: repeat(2, 1fr);
}

.btn-xl {
  font-size: 1rem;
  padding: 1.4rem 2rem;
  text-transform: uppercase;
}

.text-xl {
  font-size: 1.5rem;
}

.text-lg {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.text-md {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.add-email{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
}

@media (max-width: 700px) {
.showcase::after {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
}

.showcase-content h1 {
  font-size: 1.7rem;
  line-height: 1;
}

.showcase-content p {
  font-size: 1rem;
}

.btn-xl {
  font-size: 1.1rem;
  padding: 1.2rem 1.6rem;
  text-transform: uppercase;
}
}

@media(max-height: 600px) {
.showcase-content {
margin-top: 3rem;
}
}


/* add media query here */
/* at small sizes should be stacked not next to each other like a column so we set grid to 1fr */
/* minimize text suzize for all more or less */